<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="personAction" class="com.yulintu.yulintu_mvc.mvc.spring.PersonAction">
        <property name="personService">
            <ref bean="personService"/>
        </property>
    </bean>

    <bean id="personService" class="com.yulintu.yulintu_mvc.mvc.spring.PersonServiceImp1">
        <property name="personDao">
            <ref bean="personDao"/>
        </property>
    </bean>

    <bean id="personDao" class="com.yulintu.yulintu_mvc.mvc.spring.PersonDaoImp1"></bean>

    </beans>