<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "OutputHelper" class="com.yulintu.ioc.output.OutputHelper">
        <property name="outputGenerator" ref = "CsvOutputGenerator"/>
    </bean>

    <bean id="CsvOutputGenerator" class="com.yulintu.ioc.output.CsvOutputgenerator"></bean>
    <bean id="JsonOutputGenerator" class="com.yulintu.ioc.output.JsonOutputGenerator"></bean>
    </beans>